[ConfigName]
ConfigName=hi3798mv2dma_hi3798mv200_DDR3-1866_1GB_16bitx2_2layers.config
[DdrParamters]
DDRCapacity=1GB
DDRSpreadSpectrum=+-0.5%
emmcVol=1V8_IO
ComboPhy=USB3.0
DDRFreq=1866Mbps
PCBLayer=2layers
[MacName]
MAC1=NA
MAC0=FE_PHY
[PhyAddress]
MAC1=ff
MAC0=2
[GpioGroupNum]
MAC1=255
MAC0=255
[GpioBits]
MAC1=255
MAC0=255
[Startup]
Startup=emmc
[spi]
ioshare_0=GPIO0_0
ioshare_1=GPIO0_1
ioshare_2=GPIO0_2
ioshare_3=GPIO0_3
ioshare_4=EMMC_CDATA3
ioshare_5=EMMC_CDATA4
ioshare_6=EMMC_CDATA0
ioshare_7=EMMC_CDATA5
ioshare_8=EMMC_CDATA1
ioshare_9=EMMC_CDATA6
ioshare_10=EMMC_CDATA2
ioshare_11=EMMC_CDATA7
ioshare_12=EMMC_CCLK_OUT
ioshare_13=GPIO1_5
ioshare_14=EMMC_CCMD
ioshare_15=EMMC_RST
ioshare_16=EMMC_DATA_STROBE
ioshare_29=SF_WPN_IO2
ioshare_30=SF_SDI_IO1
ioshare_31=SF_CSN
ioshare_32=SF_HOLDN_IO3
ioshare_33=SF_CLK
ioshare_34=SF_SDO_IO0
[async_nand]
ioshare_0=NF_RDY
ioshare_1=NF_CSN
ioshare_2=GPIO0_2
ioshare_3=GPIO0_3
ioshare_4=NF_DQ7
ioshare_5=NF_DQ6
ioshare_6=NF_DQ5
ioshare_7=NF_DQ4
ioshare_8=NF_DQ3
ioshare_9=NF_DQ2
ioshare_10=NF_DQ1
ioshare_11=NF_DQ0
ioshare_12=NF_WEN
ioshare_13=NF_ALE
ioshare_14=NF_CLE
ioshare_15=GPIO1_7
ioshare_16=NF_REN
ioshare_29=GPIO3_5
ioshare_30=GPIO3_6
ioshare_31=GPIO3_7
ioshare_32=GPIO4_0
ioshare_33=GPIO4_1
ioshare_34=GPIO4_2
[sync_nand]
ioshare_0=NF_RDY
ioshare_1=NF_CSN
ioshare_2=GPIO0_2
ioshare_3=NF_DQS
ioshare_4=NF_DQ7
ioshare_5=NF_DQ6
ioshare_6=NF_DQ5
ioshare_7=NF_DQ4
ioshare_8=NF_DQ3
ioshare_9=NF_DQ2
ioshare_10=NF_DQ1
ioshare_11=NF_DQ0
ioshare_12=NF_WEN
ioshare_13=NF_ALE
ioshare_14=NF_CLE
ioshare_15=GPIO1_7
ioshare_16=NF_REN
ioshare_29=GPIO3_5
ioshare_30=GPIO3_6
ioshare_31=GPIO3_7
ioshare_32=GPIO4_0
ioshare_33=GPIO4_1
ioshare_34=GPIO4_2
[emmc]
ioshare_0=GPIO0_0
ioshare_1=GPIO0_1
ioshare_2=GPIO0_2
ioshare_3=GPIO0_3
ioshare_4=EMMC_CDATA3
ioshare_5=EMMC_CDATA4
ioshare_6=EMMC_CDATA0
ioshare_7=EMMC_CDATA5
ioshare_8=EMMC_CDATA1
ioshare_9=EMMC_CDATA6
ioshare_10=EMMC_CDATA2
ioshare_11=EMMC_CDATA7
ioshare_12=EMMC_CCLK_OUT
ioshare_13=GPIO1_5
ioshare_14=EMMC_CCMD
ioshare_15=EMMC_RST
ioshare_16=EMMC_DATA_STROBE
ioshare_29=GPIO3_5
ioshare_30=GPIO3_6
ioshare_31=GPIO3_7
ioshare_32=GPIO4_0
ioshare_33=GPIO4_1
ioshare_34=GPIO4_2
[pin_mux_drv]
ioshare_17=GPIO2_1
ioshare_18=PMC_GPU0
ioshare_19=GPIO2_3
ioshare_20=GPIO2_4
ioshare_21=GPIO2_5
ioshare_22=GPIO2_6
ioshare_23=GPIO2_7
ioshare_24=JTAG_TRSTN
ioshare_25=JTAG_TDI
ioshare_26=JTAG_TMS
ioshare_27=JTAG_TCK
ioshare_28=JTAG_TDO
ioshare_35=GPIO4_3
ioshare_36=GPIO4_4
ioshare_37=GPIO4_5
ioshare_38=GPIO4_6
ioshare_39=GPIO4_7
ioshare_40=GPIO6_0
ioshare_41=GPIO6_1
ioshare_42=GPIO6_2
ioshare_43=GPIO6_3
ioshare_44=GPIO6_4
ioshare_45=HDMITX_HOTPLUG
ioshare_46=HDMITX_SDA
ioshare_47=HDMITX_SCL
ioshare_48=HDMITX_CEC
ioshare_49=SDIO0_CDATA1
ioshare_50=SDIO0_CDATA0
ioshare_51=SDIO0_CCLK_OUT
ioshare_52=SDIO0_CCMD
ioshare_53=SDIO0_CDATA3
ioshare_54=SDIO0_CDATA2
ioshare_55=GPIO7_1
ioshare_56=GPIO7_2
ioshare_57=SDIO0_CARD_DETECT
ioshare_58=GPIO8_2
ioshare_59=GPIO8_3
ioshare_60=GPIO8_4
ioshare_61=GPIO8_5
ioshare_62=GPIO8_6
ioshare_63=SDIO0_CARD_POWER_EN
ioshare_64=GPIO9_0
ioshare_65=PMC_CPU0
[fp_pin_mux_drv]
uart_rx_sel=UART0_RXD
uart_tx_sel=UART0_TXD
clk_gpio_sel=GPIO5_3
data_gpio_sel=GPIO5_0
key_gpio_sel=GPIO5_1
ir_gpio_sel=LED_IR
rst_gpio_sel=STB_PWROFF
gpio5_7_adc0=LSADC0
gpio5_2_adc1=GPIO5_2
[GPIO]
