#
#################################
#Chip_Type=Hi3716CV100
#Chip_Type=Hi3716CV200
#Chip_Type=Hi3716MV200
#Chip_Type=Hi3716MV300
#Chip_Type=Hi3110EV300
#Chip_Type=Hi3719CV100
#Chip_Type=Hi3719MV100
#Chip_Type=Hi3716MV400
#Chip_Type=Hi3798CV100
#Chip_Type=Hi3796CV100
#Chip_Type=Hi3798MV100
#Chip_Type=Hi3716MV310
#Chip_Type=Hi3751
#Chip_Type=Hi3796MV100
#Chip_Type=Hi3110EV500
#Chip_Type=Hi3716MV320
#Chip_Type=Hi3716MV410
#Chip_Type=Hi3716MV420
#Chip_Type=Hi3798CV200
#Chip_Type=Hi3716MV330
Chip_Type=Hi3751V620
#################################

#RSA public key
RSA_public_key_path=verifybootInput/rsa_pub.txt

#boot file
BOOT_file_path=verifybootInput/FinalBoot.bin

#It should be HEX.
MSID=12345678

#version
Version=1

#The valid ifEncryptedBoot is YES or NO
IfEncryptedBoot=YES

#The valid RootKeyType is STB_rootkey or R2R_rootkey
RootKeyType=R2R_rootkey

#rootkey should be HEX and 16 bytes(32 characters).
RootKey=12345678123456781234567812345678






#below params are valid only when the chipset type is V300.(for example, Hi3798CV200 and Hi3751V620 belong to Type V300)

#These masks should be HEX and not over 4 bytes(8 characters).
MSIDMaskforKey=FFFFFFFF
MSIDMaskforParam=FFFFFFFF
MSIDMaskforAuxiliary=FFFFFFFF
MSIDMaskforBoot=FFFFFFFF
VersionMaskforKey=FFFFFFFF
VersionMaskforParam=FFFFFFFF
VersionMaskforAuxiliary=FFFFFFFF
VersionMaskforBoot=FFFFFFFF