log.*
*.log
*.o
*.o.cmd
*.ko
*.ko.cmd
.tmp*
modules.*
Module.*
*.mod.c
*a.out
*.patch
*.bak
*~
*.gz
*.doc
*.xls
*.d
*.tmp
*.mosesq-branch
os/linux/Makefile
include/mcu/*_firmware.h
include/mcu/*_rom_patch.h
include/eeprom/*
tools/bin2h
