config HISI_THERMAL
	tristate "Hisilicon thermal driver"
	depends on OF && CPU_FREQ
	help
	  Enable this to plug hisilicon's thermal sensor driver into the Linux
	  thermal framework. cpufreq is used as the cooling device to throttle
	  CPUs when the passive trip is crossed.
