menu "DVB-C Demod Config"
    depends on HI_DVBC_SUPPORT

config  HI_DEMOD_TYPE_X5HDV2QAM
    bool "HI3130_INSIDE Support"
    depends on HI3716MV410 || HI3716MV420
    default y

config  HI_DEMOD_TYPE_HI3130
    bool "HI3130_OUTSIDE Support"
    default y
    select HI_GPIOI2C_SUPPORT

config  HI_DEMOD_TYPE_J83B
    bool "J83B Support"
    default y
    select HI_GPIOI2C_SUPPORT

config  HI_DEMOD_TYPE_MXL254
    bool "MXL254 Support"
    default n
    select HI_GPIOI2C_SUPPORT

config  HI_DEMOD_TYPE_MXL214
    bool "MXL214 Support"
    default n
    select HI_GPIOI2C_SUPPORT

config  HI_DEMOD_TYPE_TDA18280
    bool "TDA18280 Support"
    default n
    select HI_GPIOI2C_SUPPORT

config  HI_DEMOD_TYPE_HI3138
    bool "HI3138 Support"
    default y
    select HI_GPIOI2C_SUPPORT
endmenu

menu "DVB-C Tuner Config"
    depends on HI_DVBC_SUPPORT

config  HI_TUNER_TYPE_TDA18250
    bool "TDA18250 Support"
    default y

config  HI_TUNER_TYPE_TDA18250B
    bool "TDA18250B Support"
    default y

config  HI_TUNER_TYPE_MXL254
    bool "MXL254 Support"
    default n

config  HI_TUNER_TYPE_MXL214
    bool "MXL214 Support"
    default n

config  HI_TUNER_TYPE_TDA18280
    bool "TDA18280 Support"
    default n

config  HI_TUNER_TYPE_MXL203
    bool "MXL203 Support"
    default n

config  HI_TUNER_TYPE_MXL603
    bool "MXL603 Support"
    default n

config  HI_TUNER_TYPE_ALPS_TDAE
    bool "ALPS_TDAE Support"
    default n

config  HI_TUNER_TYPE_TDCC
    bool "TDCC Support"
    default n

config  HI_TUNER_TYPE_MT2081
    bool "MT2081 Support"
    default n

config  HI_TUNER_TYPE_TMX7070X
    bool "TMX7070X Support"
    default n

config  HI_TUNER_TYPE_R820C
    bool "R820C Support"
    default n

config  HI_TUNER_TYPE_TDA6651
    bool "TDA6651 Support"
    default n

config  HI_TUNER_TYPE_XG_3BL
    bool "XG_3BL Support"
    default n

config  HI_TUNER_TYPE_CD1616
    bool "CD1616 Support"
    default n

config  HI_TUNER_TYPE_CD1616_LF_GIH_4
    bool "CD1616_LF_GIH_4 Support"
    default n

config  HI_TUNER_TYPE_si2147
    bool "si2147 Support"
    default y

config  HI_TUNER_TYPE_MXL608
    bool "MXL608 Support"
    default y

config  HI_TUNER_TYPE_M88TC3800
    bool "M88TC3800 Support"
    default y

config  HI_TUNER_TYPE_RAFAEL836
    bool "Rafael836 Support"
    default y

endmenu

