#+++++++++++++++++++++++++++++++++++++++++++++++++++
menu "Graphic Config"

menuconfig HI_DIRECTFB_SUPPORT
    bool "DirectFB Support"
    default n
    depends on LINUX_PRODUCT

config HI_DIRECTFB_MULTI_SUPPORT
    bool "DirectFB Multi Process support"
    default n
    depends on HI_DIRECTFB_SUPPORT

config HI_DIRECTFB_DEBUG_SUPPORT
    bool "DirectFB Debug support"
    default n
    depends on HI_DIRECTFB_SUPPORT

config HI_DIRECTFB_CA_SUPPORT
    bool "DirectFB Ca Support"
    default n
    depends on HI_DIRECTFB_SUPPORT && HI_ADVCA_SUPPORT

config HI_GFX2D_SUPPORT
    bool "GFX2D Support"
    default y
    depends on ANDROID_PRODUCT
    depends on HI3798CV200 || HI3798MV200 || HI3798MV200_A

config HI_FB0_SMMU_SUPPORT
    bool
    default n
    depends on HI_SMMU_SUPPORT

config HI_FB1_SMMU_SUPPORT
    bool
    default y
    depends on HI_SMMU_SUPPORT

config HI_FB2_SMMU_SUPPORT
    bool
    default y
    depends on HI_SMMU_SUPPORT

config HIFB_STEREO3D_SUPPORT
    bool "3D Support"
    default y

config  HIFB_SCROLLTEXT_SUPPORT
    bool "Scrolltext in FB Support"
    default n

#config  HIFB_CURSOR_SUPPORT
#    bool "Cursor in FB Support"
#    default n

config  HI_FB_DECOMPRESS_SUPPORT
    bool "DeCompress in FB Support"
    default y
    depends on HI_GFX2D_SUPPORT
    depends on HI3798CV200 || HI3798MV200 || HI3798MV200_A

config  HI_GFX_DEBUG_LOG_SUPPORT
    bool "Graphic Debug Log Support"
    default n

config  HI_TDE_CSCTMPBUFFER_SIZE
    hex "TDE Temporary Buffer Size for YUV Semi-planar to YUV Package 422 or ARGB Conversion"
    default 0x0
    help
      Regard to low quality, the size is 0.
      Regard to middle quality, the size is (input width * input height * 2).
      Regard to high quality, the size is(output width * output height * 3).

config  HI_JPEG6B_STREAMBUFFER_SIZE
    hex "JPEG Stream Buffer Size"
    default 0x100000

config  HI_HD0_FB_VRAM_SIZE
    int "KB, HD0 FrameBuffer Size"
    default 7200
    help
      For 1280*720, triple buffer, ARGB8888 format, the size is calculated as below:
      (1280*720*4*2/1024)KB

config  HI_HD1_FB_VRAM_SIZE
    int "KB, HD1 FrameBuffer Size"
    default 0
    help
      For 1280*720, triple buffer, ARGB8888 format, the size is calculated as below:
      (1280*720*4*2/1024)KB

config  HI_HD2_FB_VRAM_SIZE
    int "KB, HD2 FrameBuffer Size"
    default 0
    help
      For 1280*720, triple buffer, ARGB8888 format, the size is calculated as below:
      (1280*720*4*2/1024)KB

config  HI_SD0_FB_VRAM_SIZE
    int "KB, SD0 FrameBuffer Size "
    default 0
    help
      For 720*576, triple buffer, ARGB8888 format, the size is calculated as below:
      (720*576*4*2/1024)KB

endmenu
#+++++++++++++++++++++++++++++++++++++++++++++++++++
