#+++++++++++++++++++++++++++++++++++++++++++++++++++
menu "Board Tools Config"
config  HI_TOOL_DOSFS_SUPPORT
    bool "Dosfs Tools Support"
    default n

config  HI_TOOL_E2FSPROGS_SUPPORT
    bool "Ext2/Ext3 Tools Support"
    default n

config  HI_TOOL_FILECAP_SUPPORT
    bool "Filecap Tools Support"
    default n
    help
        Filecap is used to change permission of files/dirs.
        Only for CA user, if don't use CA, say n here.

config  HI_TOOL_GDB_SUPPORT
    bool "GDB/GDBServer Tools Support"
    depends on HI_ENG_MODE
    default y

config  HI_TOOL_IPTABLES_SUPPORT
    bool "Iptables Tools Support"
    default n

config  HI_TOOL_MTDUTILS_SUPPORT
    bool "Mtdutils Tools Support"
    default n

config  HI_TOOL_REG_SUPPORT
    bool "Read/Write Registers Tools Support"
    default y

config  HI_TOOL_REG_UART_SUPPORT
    bool "Read/Write Registers Tools for UART Support"
    default n
    help
        This tools is used for registers read/write. Not like
        HI_TOOL_REG_SUPPORT, this tool only output some specific
        messages. This is only for PC tool HITOOL.

config  HI_TOOL_SANDBOX_SUPPORT
    bool "Sandbox Tool(Chroot) Support"
    default y
    depends on HI_ADVCA_SANDBOX_TYPE = CHROOT
    help
        This tools is used only for CA, if no CA,say n here.

config  HI_TOOL_PPPD_SUPPORT
    bool "PPPD Tool Support"
    default n

config  HI_TOOL_MIITOOLS_SUPPORT
    bool "Mii Tool Support"
    default n

config  HI_TOOL_IPERF_SUPPORT
    bool "Iperf Support"
    default n

config  HI_LXC_CONTAINER_SUPPORT
    bool "LXC Container Tools Support"
    default y
    depends on HI_ADVCA_SANDBOX_TYPE = LXC

config  HI_TOOL_SYSSTAT_SUPPORT
    bool "Sysstat Tool Support"
    default n

config  HI_TOOL_SOC_SERVER
    bool "SOC Server Tool Support"
    default n

config  HI_TOOL_MSP_DEBUG_SUPPORT
    bool "Msp Debug Tool Support"
    default n

config  HI_TOOL_PQ_DEBUG_SUPPORT
    bool "PQ Debug Tool Support"
    default y
endmenu

menu "Busybox Config"

config  HI_BUSYBOX_CFG_NAME
    string "Busybox Config File For Root"
    default glibc.config
    help
      Input config file for root busybox. Such as xxxxx.config.
      Config files are located in busybox source: busybox-1.*.1.config/

config  HI_BUSYBOX_CFG_SANDBOX_NAME
    string "Busybox Config File For Sandbox User"
    default glibc_ca_sandbox.config
    depends on HI_ADVCA_SANDBOX_SUPPORT
    help
      Input config file for sandbox user busybox. Such as xxxxx.config.
      Config files are located in busybox source: busybox-1.*.1.config/

endmenu

config  HI_LIBCPP_SUPPORT
    bool "C++ Runtime Libarary Support"
    default y
    help
      If you need use C++ libarary, say y here.

#---------------------------------------------
#+++++++++++++++++++++++++++++++++++++++++++++++++++
