[ConfigName]
ConfigName=hi3798cv2dmc_hi3798cv200_DDR4-2133_1.5GB_16bitx2_4layers.config
[DdrParamters]
emmcVol=1V8_IO
ComboPhy=NA
DDRSpreadSpectrum=+-0.5%
DDRFreq=2133Mbps
DDRCapacity=1.5GB
[MacName]
MAC0=NA
MAC1=RMII1
[PhyAddress]
MAC0=ff
MAC1=1
[GpioGroupNum]
MAC0=255
MAC1=255
[GpioBits]
MAC0=255
MAC1=255
[Startup]
Startup=emmc
[spi]
ioshare_0=EMMC_CDATA3
ioshare_1=EMMC_CDATA4
ioshare_2=EMMC_CDATA0
ioshare_3=EMMC_CDATA5
ioshare_4=EMMC_CDATA1
ioshare_5=EMMC_CDATA6
ioshare_6=EMMC_CDATA2
ioshare_7=EMMC_CDATA7
ioshare_8=GPIO1_0
ioshare_9=EMMC_CCMD
ioshare_10=EMMC_CCLK_OUT
ioshare_11=EMMC_RST
ioshare_12=EMMC_DATA_STROBE
ioshare_13=EMMC_CARD_POWER_EN
ioshare_15=SF_WPN_IO2
ioshare_16=SF_SDI_IO1
ioshare_17=SF_CSN
ioshare_18=SF_HOLDN_IO3
ioshare_19=SF_CLK
ioshare_20=SF_SDO_IO0
[nand]
ioshare_0=NF_DQ7
ioshare_1=NF_DQ6
ioshare_2=NF_DQ5
ioshare_3=NF_DQ4
ioshare_4=NF_DQ3
ioshare_5=NF_DQ2
ioshare_6=NF_DQ1
ioshare_7=NF_DQ0
ioshare_8=NF_WEN
ioshare_9=NF_ALE
ioshare_10=NF_CLE
ioshare_11=NF_CSN
ioshare_12=NF_REN
ioshare_13=NF_RDY
ioshare_15=GPIO1_7
ioshare_16=GPIO2_0
ioshare_17=GPIO2_1
ioshare_18=GPIO2_2
ioshare_19=GPIO2_3
ioshare_20=GPIO2_4
[emmc]
ioshare_0=EMMC_CDATA3
ioshare_1=EMMC_CDATA4
ioshare_2=EMMC_CDATA0
ioshare_3=EMMC_CDATA5
ioshare_4=EMMC_CDATA1
ioshare_5=EMMC_CDATA6
ioshare_6=EMMC_CDATA2
ioshare_7=EMMC_CDATA7
ioshare_8=GPIO1_0
ioshare_9=EMMC_CCMD
ioshare_10=EMMC_CCLK_OUT
ioshare_11=EMMC_RST
ioshare_12=EMMC_DATA_STROBE
ioshare_13=EMMC_CARD_POWER_EN
ioshare_15=GPIO1_7
ioshare_16=GPIO2_0
ioshare_17=GPIO2_1
ioshare_18=GPIO2_2
ioshare_19=GPIO2_3
ioshare_20=GPIO2_4
[sd]
ioshare_0=EMMC_CDATA3
ioshare_1=GPIO0_1
ioshare_2=EMMC_CDATA0
ioshare_3=GPIO0_3
ioshare_4=EMMC_CDATA1
ioshare_5=GPIO0_5
ioshare_6=EMMC_CDATA2
ioshare_7=GPIO0_7
ioshare_8=GPIO1_0
ioshare_9=EMMC_CCMD
ioshare_10=EMMC_CCLK_OUT
ioshare_11=EMMC_RST
ioshare_12=GPIO1_4
ioshare_13=EMMC_CARD_POWER_EN
ioshare_15=GPIO1_7
ioshare_16=GPIO2_0
ioshare_17=GPIO2_1
ioshare_18=GPIO2_2
ioshare_19=GPIO2_3
ioshare_20=GPIO2_4
[pin_mux_drv]
ioshare_14=PMC_CORE0
ioshare_21=GPIO2_5
ioshare_22=GPIO2_6
ioshare_23=GPIO2_7
ioshare_24=GPIO3_0
ioshare_25=GPIO3_1
ioshare_26=GPIO3_2
ioshare_27=PMC_GPU0
ioshare_28=GPIO3_4
ioshare_29=GPIO3_5
ioshare_30=GPIO4_0
ioshare_31=GPIO4_1
ioshare_32=GPIO4_2
ioshare_33=GPIO4_3
ioshare_34=GPIO4_4
ioshare_35=GPIO4_5
ioshare_36=GPIO4_6
ioshare_37=GPIO4_7
ioshare_38=GPIO6_0
ioshare_39=GPIO6_1
ioshare_40=GPIO6_2
ioshare_41=GPIO6_3
ioshare_42=GPIO6_4
ioshare_43=GPIO6_5
ioshare_44=GPIO6_6
ioshare_45=GPIO6_7
ioshare_46=GPIO7_0
ioshare_47=GPIO7_1
ioshare_48=GPIO7_2
ioshare_49=GPIO7_3
ioshare_50=GPIO7_4
ioshare_51=GPIO7_5
ioshare_52=GPIO7_6
ioshare_53=GPIO7_7
ioshare_54=GPIO8_0
ioshare_55=GPIO8_1
ioshare_56=GPIO8_2
ioshare_57=GPIO8_3
ioshare_58=GPIO8_4
ioshare_59=JTAG_TCK
ioshare_60=JTAG_TMS
ioshare_61=JTAG_TDI
ioshare_62=JTAG_TRSTN
ioshare_63=JTAG_TDO
ioshare_64=GPIO9_0
ioshare_65=GPIO9_1
ioshare_66=HDMITX_HOTPLUG
ioshare_67=HDMITX_SDA
ioshare_68=HDMITX_SCL
ioshare_69=HDMITX_CEC
ioshare_70=RMII1_RST
ioshare_71=RMII1_RXD0
ioshare_72=RMII1_RXDV
ioshare_73=RMII1_TXEN
ioshare_74=RMII1_TXD1
ioshare_75=RMII1_TXD0
ioshare_76=RMII1_RXD1
ioshare_77=RMII1_MDCK
ioshare_78=RMII1_REFCLK
ioshare_79=GPIO10_7
ioshare_80=RMII1_MDIO
ioshare_81=GPIO11_1
ioshare_82=GPIO11_2
ioshare_83=GPIO11_3
ioshare_84=GPIO11_4
ioshare_85=GPIO11_5
ioshare_86=SDIO0_CARD_POWER_EN
ioshare_87=GPIO3_7
ioshare_88=SDIO0_CDATA1
ioshare_89=SDIO0_CDATA0
ioshare_90=SDIO0_CCLK_OUT
ioshare_91=SDIO0_CCMD
ioshare_92=SDIO0_CDATA3
ioshare_93=SDIO0_CDATA2
ioshare_94=SDIO0_CARD_DETECT
ioshare_95=PMC_CPU0
[fp_pin_mux_drv]
uart_rx_sel=UART0_RXD
uart_tx_sel=UART0_TXD
clk_gpio_sel=GPIO5_0
data_gpio_sel=GPIO5_1
key_gpio_sel=GPIO5_5
ir_gpio_sel=LED_IR
rst_gpio_sel=GPIO5_2
gpio5_3_adc0=GPIO5_3
gpio5_4_adc1=LSADC1
[GPIO]
